<%- include('partials/header') -%>

<div>
  <div>
     <h1><%= singlePostTitle %></h1>
  </div>
  <div>
    <p> <%= singlePostBody %></p>
    <a href="/">Back to posts </a> 
  </div>
</div>

<%- include('partials/footer') %>
